# fichiers de clé api / json
.env
*.json

# fichiers Python temporaires et environnements virtuels
__pycache__/
*.pyc
.venv/
venv/
.ipynb_checkpoints/sales_motion_api_request-checkpoint.ipynb


# Logs dbt
logs/
dbt_internal_packages/
*.log

# Fichiers de build/compilation dbt (fichiers temporaires)
target/
